<h4>Upcoming Events</h4>
<% if @upcoming_meetings.count > 0 %>
    <table>
        <tr>
            <th>Event</th>
            <th>DateTime</th>
        </tr>
        <% @upcoming_meetings.each do |meeting| %>
            <tr>
                <td><a href="<%= meeting_path(meeting) %>"><%= meeting.title %></a></td>
                <td><%= meeting.datetime %></td>
            </tr>
        <% end %>
    </table>
<% else %>
    <p>No upcoming events</p> 
<% end %>
<br>
<h4>Past Events</h4>
<% if @past_meetings.count > 0 %>
    <table>
        <tr>
            <th>Event</th>
            <th>DateTime</th>
        </tr>
        <% @past_meetings.each do |meeting| %>
            <tr>
                <td><a href="<%= meeting_path(meeting) %>"><%= meeting.title %></a></td>
                <td><%= meeting.datetime %></td>
            </tr>
        <% end %>
    </table>
<% else %>
    <p>No past events</p> 
<% end %>